body{
    background-color: #ffffff;
    background-attachment: fixed;
}

h1,h2{
    color: #000000;
    text-align: center;
    font-family: 'Sigmar', cursive;  
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

header{
    width:100%;
    background-color: #ffffff;
    padding: 1.2%;
}

.fundo{
    text-align: center;
    font-size: 1.4em;
}

nav{
    color: #000000;
    text-align: center;
    font-size: 1.4em;
}

.Pô{
    width: 100%;
}

.container{    
    width: 80%;
    margin: auto;
    color: #000000;
}

footer{
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 1.4em;
    text-align: center;    
}

p{
    font-family: 'Sigmar', cursive;
    padding-top: 1%;
    padding-bottom: 0.5%;
    line-height: 1.5;
    font-size: 1.2em;
}

.listameio{
    font-family: 'Sigmar', cursive;
    line-height: 1.5;
    font-size: 1.2em;
}

section{
    background-color: rgb(255, 255, 255);
    padding-right: 2%;
    padding-left: 2%;
}

.logo{
    color: #000000;
    text-align: center;
    font-size: 1.4em;
}