html{
    scroll-behavior: smooth;
}

body{
    background-color: #161616;
    background-attachment: fixed;
    font-family: 'Sigmar', cursive;
}

h1,h2{
    color: #DC6949;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 2em;
}

h3{
    color: #DC6949;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 1.5em;
}

p{
    padding-top: 1%;
    padding-bottom: 0.5%;
    line-height: 1.7;
    font-size: 1.2em;
}

section{
    background-color: #080604;
    padding-right: 2%;
    padding-left: 2%;
}

header{
    background-color: #080604;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
}

.menufixo{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.logo{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    width: 50%;
}

.logotop{
    width: 15%;
}

.itensmenu ul li { 
    display: inline;
    margin-left: 1%;
    color:#DC6949;
}

.itensmenu a:hover {
    color:#080604;
    padding: 0.8%;    
    background-color:#DC6949; 
    text-decoration: none;
    border-radius: 15%;

}

.itensmenu{
    margin-right: 1%;
    margin-top: 1%;
    position: absolute;
    right: 3%;
    top: 30%;
    width: 70%;
    text-align: center;
}

.fundo{
    text-align: center;
    font-size: 1.4em;
}

.Po{
    width: 100%;
    margin-top: 7%;
}

.container{    
    width: 80%;
    margin: auto;
    color: #F7F6EA;
}

.listameio li{
    line-height: 2;
    font-size: 1.2em;
}

.dream{
    width: 60%;
    text-align: center;
    float: right;
}

footer{
    background-color: #080604;
    color: #F7F6EA;
    font-size: 1.4em;
    text-align: center;
    width: 100%;    
}

.github{
    width: 3%;
}

.i{
    width: 3%;
}

.tai{
    width: 50%;
}

.linha{
    display: flex;
    flex-direction: row wrap;
    text-align: center;
}

.col-6{
    width: 50%;
}

@media (max-width: 800px) {
    .linha{
        flex-direction: column;
    }
     .col-6 {
      flex: 100%;
    }
  }

.col-7{
    width: 33.3%; 
}

@media (max-width: 800px) {
    .linha2{
        flex-direction: column;
    }
     .col-7 {
      flex: 100%;
    }
  }

.linha2{
    display: flex;
    flex-direction: row wrap;
    text-align: center;
}

.col-8{
    width: 33.3%;  
}

@media (max-width: 800px) {
    .linha3{
        flex-direction: column;
    }
     .col-8 {
      flex: 100%;
    }
  }

.linha3{
    display: flex;
    flex-direction: row wrap;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F7F6EA;
    color: #080604;
  }

  .card-col7{
    background-image: linear-gradient(to right, rgb(182, 175, 175) , #080604);
    width: 90%;
    border-width: 5px;
    box-shadow: 15px 15px 15px 2px rgb(182, 175, 175);
    transition: 0.3s; 
    border-color: #F7F6EA;
    border-style:groove;   
}

.card-col8{
    background-image: linear-gradient(to right, rgb(182, 175, 175) , #080604);
    width: 90%;
    border-width: 5px;
    box-shadow: 15px 15px 15px 2px rgb(182, 175, 175);
    transition: 0.3s;    
    padding-top: 1.5%;
    border-color: #F7F6EA;
    border-style:groove;
}

.listameio{
    list-style-image: url('../img/bambu.png');
}

.dreamw{
    width: 100%;
    margin-top: 7%;
}

.contato{
    width: 100%;
    margin-top: 7%;
}

label, input, textarea, button{
    display: block;
    margin-top: 2%;
    text-align: center;
    color:#DC6949;
}

input, textarea, button{
    width: 100%;
    padding: 1.25rem;
}
